@model BoilerplateMVC.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroExterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroExterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroInterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
